# dir to store logs
log_dir			log
# log level
log_level		7
# max size of each log file
log_size		209715200
# max number of log files per log level
log_maxfiles	100
#log_prefix		andy_

# size of the buffer to hold incoming/outcoming packets
shmq_length		16777216
# running mode of the program
run_mode		background

pkg_timeout		10
worker_num		1

# The Following 2 Keys Must Be Set Uniquely Within A System
send_sem_key    31001
recv_sem_key    31003

#send_buffer		4096
#recv_buffer		4096

bind_file		conf/bind.conf

#----------------------------------------
# so 新增配置项
redis			172.19.60.184:19000
#redis			127.0.0.1:6379

#config_svr		127.0.0.1:30001
config_svr		172.19.60.184:30001
#copy from 		../../dbCfg.json.sample
mysqlCfg		conf/dbCfg.json
#csv data dir
csv_path		data
#忽略战报版本差异
btl_replay_ignore_ver 0
